<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page de connexion</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li th:if="${me == null}"><a href="/inscription">Inscription</a></li>
            <li th:if="${me == null}"><a href="/connexion">Connexion</a></li>
            <li th:if="${me != null}"><a href="/profile" th:text="${'Bienvenue ' + me.username}"></a></li>
            <li th:if="${me != null}"><a th:if="${me.admin == true}" href="/admin" >Admin</a></li>
            <li th:if="${me != null}"><a href="/deconnexion">Deconnexion</a></li>
        </ul>
    </nav>
</header>
    <form th:if="{activity == null}" action="/admin/newActivity/add" method="post">
        <h2>Ajouter activité</h2>
        <label for="inputname">Nom de l'activité</label>
        <input type="text" name="inputname" id="inputname"/><br/>
        <label for="inputtel">Téléphone</label>
        <input type="text" name="inputtel" id="inputtel"/><br/>
        <label for="inputville">Ville</label>
        <input type="text" name="inputville" id="inputville"/><br/>
        <label for="inputaddress">Adresse</label>
        <input type="text" name="inputaddress" id="inputaddress"/><br/>
        <label for="inputdesc">Description</label>
        <input type="text" name="inputdesc" id="inputdesc"/><br/>
        <input type="submit"/>
    </form>
<form th:if="{activity != null}" action="/admin/newActivity/add" method="post">
    <h2>Ajouter activité</h2>
    <label for="inputname">Nom de l'activité</label>
    <input type="text" name="inputname" id="inputname"/><br/>
    <label for="inputtel">Téléphone</label>
    <input type="text" name="inputtel" id="inputtel"/><br/>
    <label for="inputville">Ville</label>
    <input type="text" name="inputville" id="inputville"/><br/>
    <label for="inputaddress">Adresse</label>
    <input type="text" name="inputaddress" id="inputaddress"/><br/>
    <label for="inputdesc">Description</label>
    <input type="text" name="inputdesc" id="inputdesc"/><br/>
    <input type="submit"/>
</form>
</body>
</html>