<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page de connexion</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li th:if="${me == null}"><a href="/inscription">Inscription</a></li>
            <li th:if="${me == null}"><a href="/connexion">Connexion</a></li>
            <li th:if="${me != null}"><a href="/profile" th:text="${'Bienvenue ' + me.username}"></a></li>
            <li th:if="${me != null}"><a th:if="${me.admin == true}" href="/admin" >Admin</a></li>
            <li th:if="${me != null}"><a href="/deconnexion">Deconnexion</a></li>
        </ul>
    </nav>
</header>
<h2>Admin</h2>
<h3>Activités</h3>
<a th:href="@{/admin/newActivity}">Nouvelle activité</a>
<table>
    <tr>
        <td>ID</td>
        <td>Nom</td>
        <td>Telephone</td>
        <td>Adresse</td>
        <td>Ville</td>
        <td>Description</td>
    </tr>
    <tr th:each="a:${activities}">
        <td th:text="${a.activityId}"></td>
        <td th:text="${a.name}"></td>
        <td th:text="${a.tel}"></td>
        <td th:text="${a.address}"></td>
        <td th:text="${a.ville}"></td>
        <td th:text="${a.description}"></td>
        <td><form th:action="@{/admin/editActivity/{id}(id = ${a.activityId})}" method="post">
            <button type="submit">Modifier</button>
        </form>
            <form th:action="@{/admin/activities/{id}/delete(id = ${a.activityId})}" method="post">
                <button type="submit">Supprimer</button>
            </form>
        </td>
    </tr>
</table>
<h3>Users</h3>
<table>
    <tr>
        <td>ID</td>
        <td>Username</td>
        <td>Password</td>
        <td>Admin</td>
    </tr>
    <tr th:each="u:${users}">
        <td th:text="${u.userId}"></td>
        <td th:text="${u.username}"></td>
        <td th:text="${u.password}"></td>
        <td th:text="${u.admin}"></td>
            <td><form th:action="@{/admin/changeUser/{id}(id = ${u.userId})}" method="post">
                <button th:if="${u.admin == false && u.userId != me.userId}" type="submit">Promouvoir</button>
                <button th:if="${u.admin == true && u.userId != me.userId}" type="submit">Rétrograder</button>
                <label th:if="${u.userId == me.userId}">C'est votre compte !</label>
            </form>
        </td>
    </tr>
</table>
</body>
</html>