<nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0"
     xmlns:th="http://www.thymeleaf.org">
  <a href="/" class="navbar-brand p-0">
    <h1 class="text-primary m-0">Feur</h1>
    <!-- <img src="img/logo.png" alt="Logo"> -->
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto py-0">
      <a href="/" class="nav-item nav-link">Accueil</a>
      <a href="/activites" class="nav-item nav-link">Activités</a>
      <a th:if="${isConnected != null}" href="/profil" class="nav-item nav-link">Profil</a>
      <a th:if="${isConnected != null && isAdmin != null}" href="/admin" class="nav-item nav-link">Admin</a>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
        <div class="dropdown-menu m-0">
          <a href="/404" class="dropdown-item">Page 404</a>
        </div>
      </div>
    </div>
    <a th:if="${isConnected == null}" href="/inscription" class="btn btn-primary rounded-pill py-2 px-4">Inscription</a>
    <a th:if="${isConnected == null}" href="/connexion" class="btn btn-primary rounded-pill py-2 px-4">Connexion</a>
    <a th:if="${isConnected != null}" href="/deconnexion" class="btn btn-primary rounded-pill py-2 px-4">Déconnexion</a>
  </div>
</nav>