<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{@{/ress/head}}"></head>

<body>
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Chargement...</span>
    </div>
</div>
<!-- Spinner End -->


<div th:replace="~{@{/ress/topbar}}"></div>


<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <nav th:replace="~{@{/ress/navbar}}"></nav>

    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-center py-5">
                <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Administration</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Administration</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <h6 class="section-title bg-white text-center text-primary px-3">Gestion</h6>
            <h1 class="mb-5">Activités</h1>
        </div><div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <form method="post" action="/admin/activites/add">
            <button class="btn btn-primary rounded-pill py-2 px-4">Créer</button>
        </form>
    </div>
</div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Gestion</h6>
            <h1 class="mb-5">Utilisateurs</h1>
        </div>
        <div class="row gy-5 gx-4 justify-content-center">
            <div th:each="u:${users}" th:if="${u.userId != me.userId}" class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative border border-primary pt-5 pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                        <i class="fa fa-2x text-white" th:text="${u.userId}"></i>
                    </div>
                    <h5 class="mt-4" th:text="${u.username}"></h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <form method="post" th:if="${u.admin == false}" th:action="@{/admin/users/{id}/promote(id = ${u.userId})}">
                        <button style="margin: 0.3rem;" class="btn btn-primary rounded-pill py-2 px-4">Promouvoir</button>
                    </form>
                    <form method="post" th:if="${u.admin == true}" th:action="@{/admin/users/{id}/destitute(id = ${u.userId})}">
                        <button style="margin: 0.3rem;" class="btn btn-primary rounded-pill py-2 px-4">Rétrograder</button>
                    </form>
                    <form method="post" th:action="@{/admin/users/{id}/delete(id = ${u.userId})}">
                        <button style="margin: 0.3rem;background-color: red;border-color: red;" class="btn btn-primary rounded-pill py-2 px-4">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<div th:replace="~{@{/ress/footer}}"></div>
</body>

</html>